---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro'; // Import WidgetWrapper
// import Hero from '~/components/widgets/Hero.astro';
import EmailHero from '~/components/react/Tailwind/Hero';
import ContactUs from '~/components/widgets/Contact.astro';
import Checklist from '~/components/react/Checklist/Checklist';
import SimpleCalendly from '~/components/widgets/SimpleCalendly.astro';
import GridTestimonials from '~/components/react/Tailwind/Testimonials';
// import Prices from '~/components/widgets/Pricing.astro';
// import { FadeIn } from '~/components/react/Animations/FadeIn';
import { headerData } from '~/navigation';
import TallyForm from '~/components/widgets/TallyForm.astro';

const metadata = {
  title: 'Boost Email Deliverability | Hit Inbox Every Time | Venger.me',
  description:
    'Struggling with low open rates or emails landing in spam? Our email deliverability tool helps ensure your emails hit the inbox every time, elevating your open rate to 65-80% or higher. DIY or let our experts assist you.',
  ignoreTitleTemplate: true,
};
---

<script type="module">
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();
      const hashVal = this.getAttribute('href');
      const targetAnchor = document.querySelectorAll(hashVal)[0];
      const contactPos = window.pageYOffset + targetAnchor.getBoundingClientRect().top;
      window.scrollTo({ top: contactPos, behavior: 'smooth' });
    });
  });
</script>
<div class="bg-white">
  <Layout class="bg-page-white" metadata={metadata}>
    <Fragment slot="header">
      <Header class="bg-white" showToggleTheme {...headerData} />
      <EmailHero client:load />

      <ContactUs
        id="checklist"
        inputs={[
          {
            type: 'text',
            name: 'name',
            label: 'Name',
          },
          {
            type: 'email',
            name: 'email',
            label: 'Your work email address',
          },
          {
            type: 'text',
            name: 'domain',
            label: 'Enter the domain or subdomain',
          },
        ]}
        button="Check My Domain"
      />
      <WidgetWrapper>
        <Checklist client:visible />
      </WidgetWrapper>
      <TallyForm
        title="Don't want to do it all by yourself?"
        subtitle="I'm here to ramp up your deliverability and iron out all kinks. Let's connect!"
        id="form"
      />
      <GridTestimonials />
    </Fragment>
  </Layout>
</div>
