---
import Header from '~/components/widgets/Header.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
// import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';
import { headerData } from '~/navigation';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          text: 'Contact us',
          href: '/contact',
        },
      ]}
      showToggleTheme
    />

    <!-- Hero Widget ******************* -->

    <Hero
      tagline="Services"
      title="Automate, Optimize, and Scale Your Business With Tech-Savvy Solutions "
      subtitle="From data-driven marketing automations to high-ROI sales funnels, we don't just supplement your strategy— we help you reach your most ambitious goals."
      image={{
        src: '~/assets/images/services-new.png',
        alt: 'Venger.me Services Image',
      }}
    />

    <!-- Features2 Widget ************** -->

    <Features2
      title="Our Tailored Solutions    "
      subtitle="Pioneering in multi-disciplinary tech solutions, we cater to various sectors—both niche and mainstream.    "
      columns={3}
      items={[
        {
          title: 'Marketing Automation',
          description:
            'Combining strategy with data and code to create marketing automations that churn results, not just emails.',
          icon: 'tabler:code',
        },
        {
          title: 'High-Impact Sales Funnels',
          description:
            "We map out your user's journey from awareness to conversion with laser precision to get stellar results.",
          icon: 'tabler:filter',
        },
        {
          title: 'Strategic Tech Consultancy',
          description: `We inject your business with robust tech strategies, ensuring long-term profitability and scalability.`,
          icon: 'tabler:robot',
        },
        {
          title: 'A/B Testing & Conversion Optimization',
          description: 'Why guess when you can know? Our A/B testing tactics redefine your ROI equations',
          icon: 'tabler:hierarchy',
        },
        {
          title: 'Data Analytics & Reporting',
          description:
            'Complete transparency through custom dashboards and in-depth analytics. Decision-making has never been this easy or precise.',
          icon: 'tabler:chart-pie',
        },
        {
          title: 'Site & App Performance Optimization',
          description: 'Slow load times kill conversions. We ensure your tech runs as smooth as jazz, on all devices.',
          icon: 'tabler:sparkles',
        },
        // {
        //   title: 'Branding',
        //   description:
        //     'Offering pre-designed elements for a consistent brand identity, including logos and marketing materials. Ideal for new ventures or revamps.',
        //   icon: 'tabler:arrow-big-up-lines',
        // },
        // {
        //   title: 'Medical',
        //   description: `From presentations to patient forms, these tools enhance communication effectiveness for healthcare professionals. Ideal for medical practices and research pursuits.`,
        //   icon: 'tabler:vaccine',
        // },
        // {
        //   title: 'Fashion Design',
        //   description:
        //     'With attention to detail, customization, and contemporary design, they empower designers to showcase ideas cohesively. Ideal for all levels of designers.',
        //   icon: 'tabler:tie',
        // },
      ]}
    />

    <!-- Content Widget **************** -->

    <Content
      isReversed
      items={[
        {
          title: 'Multidisciplinary Expertise',
          description:
            'We excel in translating tech jargon into marketing insights and vice versa. This ensures all stakeholders are on the same page, a critical advantage in a field often marred by miscommunication.',
          icon: 'tabler:wand',
        },
        // {
        //   title: 'Transparent Communications',
        //   description:
        //     'Tailor each template to your unique needs with user-friendly customization tools that let you personalize colors, fonts, and content.',
        //   icon: 'tabler:settings',
        // },
        {
          title: 'Goal-Oriented Approach',
          description:
            "We're not just tech-savvy; we're goal-savvy. Every line of code and pixel is aligned with your strategic objectives.",
          icon: 'tabler:presentation',
        },
        {
          title: 'Data-Driven Results',
          description:
            'Unlock actionable insights and laser-focused strategies. Our analytics and attribution mastery transforms ambiguity into clear pathways for growth.',
          icon: 'tabler:carousel-horizontal',
        },
      ]}
      image={{
        src: '~/assets/images/chart.png',
        alt: 'Venger.me Benefits',
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Main Features</h3>
      </Fragment>
    </Content>

    <!-- Content Widget **************** -->

    <Content
      isAfterContent
      items={[
        {
          title: 'Immediate Value',
          description:
            'Immediate access to innovative solutions that drive results, because we believe your time is just as valuable as ours.',
          icon: 'tabler:clock',
        },
        {
          title: 'Targeted Expertise',
          description:
            'Our specialized focus in Solar Industry B2B, SaaS, and other agencies makes us the ace up your sleeve.',
          icon: 'tabler:terminal',
        },
        {
          title: 'Real-Time Dashboards',
          description:
            'Stay in the loop with custom dashboards and reporting tools, aimed at giving you a 360-degree view of your projects.',
          icon: 'tabler:dashboard',
        },
        {
          title: 'Strategic Recruitment',
          description:
            'Save not just on operational costs but also on talent acquisition. Our expertise in vetting ensures that you only get the best on your team.',
          icon: 'tabler:users',
        },
      ]}
      image={{
        src: '~/assets/images/benefits1.png',
        alt: 'Venger.me Benfits Image',
      }}
    >
      <Fragment slot="content">
        <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Benefits</h3>
      </Fragment>
    </Content>

    <!-- Testimonials Widget *********** -->

    <!-- <Testimonials
    title="Words from customers"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      targetBlank: true,
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  /> -->

    <!-- CallToAction Widget *********** -->

    <CallToAction
      callToAction={{
        text: 'Reach Out Now',
        href: '/contact',
        icon: 'tabler:affiliate',
      }}
    >
      <Fragment slot="title">Ready to Supercharge Your Strategy? 🚀</Fragment>

      <Fragment slot="subtitle">Transform your metrics, not just your mood. Time's ticking. ⏰</Fragment>
    </CallToAction>
  </Fragment>
</Layout>
