
<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <svg
  width='250.90000000000003'
  height='69.54232568568318'
  viewBox='0 0 369.9130434782609 75.24016772432729'
  class='css-1j8o68f' 
>
  <defs id='SvgjsDefs2164'></defs>
  <g
    id='SvgjsG2165'
    feature-key='odWo6G-0'
    transform='matrix(0.8951408256529904,0,0,0.8951408256529904,-6.713791806094365,-7.13730529215798)'
    fill='#ec729c'
  >
    <g xmlns='http://www.w3.org/2000/svg'>
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M18.191,64.081c-0.457-2.148-2.669-3.127-4.646-3.37   c-1.792-0.22-3.938,0.386-5.043,1.896c-0.294,0.4-0.465,0.861-0.537,1.351c-0.271,1.859,0.899,4.141,2.249,5.207   c1.526,1.206,3.472,1.123,5.199,0.375C17.438,68.661,18.649,66.237,18.191,64.081z'
      ></path>
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M32.656,75.482c-1,0.502-1.813,2.121-2.089,3.056   c-0.498,1.688,0.226,4.295,2.042,4.942c1.974,0.704,3.031-0.823,3.191-2.625c0.141-1.588-0.346-3.84-1.5-5.017   C33.734,75.262,33.17,75.225,32.656,75.482z'
      ></path>
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M72.916,56.606c1.375-0.135,2.863-0.534,4.143-1.048   c0.873-0.351,1.708-0.831,2.466-1.416c3.335-2.573,4.927-7.45,1.92-10.949c-1.118-1.301-3.084-2.275-4.751-2.538   c-3.254-0.511-6.531,0.706-9.802,0.17c-1.361-0.223-2.903-0.758-3.566-2.074c-0.858-1.703,0.171-3.95,0.642-5.63   c1.216-4.34,0.006-8.263-3.918-10.631c-2.764-1.668-6.762-1.708-9.852-1.127c-2.273,0.426-3.803,1.764-4.997,3.679   c-0.989,1.584-1.712,4.344-3.919,4.565c-1.573,0.158-2.906-0.97-4.213-1.66c-1.454-0.767-3.096-1.057-4.691-0.509   c-3.371,1.158-2.977,4.674-2.995,7.552c-0.009,1.428-0.147,3.465-2,3.541c-1.917,0.079-3.642-1.746-5.051-2.806   c-2.071-1.558-4.613-1.794-7.099-1.063c-3.085,0.907-4.437,4.168-4.186,7.175c0.281,3.363,2.483,5.812,4.962,7.88   c1.973,1.646,4.456,3.026,5.993,5.133c1.302,1.786,0.898,4.247,0.786,6.308c-0.099,1.822,0.01,3.771,0.805,5.445   c0.628,1.322,1.93,2.559,3.177,3.282c5.294,3.072,13.469,2.817,18.503-0.613c1.917-1.308,3.862-2.942,6.286-1.905   c1.649,0.705,2.846,2.075,4.186,3.213c1.41,1.198,3.048,2.022,4.899,2.27c2.035,0.272,4.332-0.166,5.97-1.444   c1.659-1.295,2.284-3.519,1.569-5.493c-0.722-1.991-3.235-3.15-3.257-5.479C64.891,56.821,70.497,56.845,72.916,56.606z'
      ></path>
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M8.437,53.877c1.257,0.604,4.583,0.579,3.375-1.709   c-0.01-0.019-0.02-0.036-0.03-0.055c-0.517-0.923-1.599-1.69-2.668-1.439c-0.88,0.207-1.69,0.948-1.608,1.928   C7.557,53.208,7.907,53.622,8.437,53.877z'
      ></path>
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M77.506,33.747c2.459-1.808,0.601-4.836-2.078-4.472   c-2.096,0.285-3.688,2.148-2.08,4.042C74.613,34.807,76.344,34.603,77.506,33.747z'
      ></path>
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M37.056,21.654c0.011-0.002,0.021-0.004,0.032-0.006   c1.839-0.374,1.005-3.11-0.419-3.422C34.617,17.777,34.407,22.146,37.056,21.654z'
      ></path>
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M24.403,75.72c-1.313-0.035-2.741,0.476-3.647,1.126   c-2.852,2.046-4.66,5.79-4.825,9.263c-0.115,2.427,1.228,5.193,3.758,5.809c3.235,0.787,5.712-2.845,6.743-5.381   c1.182-2.907,2.654-6.988,0.364-9.775C26.207,76.044,25.333,75.745,24.403,75.72z'
      ></path>
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M48.22,73.479c-0.109-0.063-0.22-0.114-0.329-0.151   c-1.237-0.423-2.372,0.819-2.551,2.034c-0.267,1.802,2.384,3.751,3.688,1.981C49.795,76.302,49.289,74.103,48.22,73.479z'
      ></path>
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M92.184,66.836c-0.476-1.306-1.634-2.184-2.818-2.816   c-3.161-1.691-7.611-2.771-11.164-1.882c-2.091,0.522-3.814,2.128-2.901,4.334c1.331,3.217,5.354,5.739,8.504,6.854   c2.525,0.894,5.547,0.597,7.494-1.391c0.533-0.545,0.883-1.253,1.061-2.013C92.598,68.901,92.529,67.784,92.184,66.836z'
      ></path>
      <path
        fill-rule='evenodd'
        clip-rule='evenodd'
        d='M26.675,23.142c1.938,1.319,4.115,0.608,4.753-1.677   c0.315-1.13,0.38-2.343,0.283-3.569c-0.162-2.063-0.78-4.163-1.427-5.97c-0.946-2.645-3.546-4.415-6.393-3.846   c-1.287,0.257-2.167,1.24-2.587,2.446c-0.858,2.455,0.06,5.042,1.195,7.238C23.539,19.771,24.769,21.844,26.675,23.142z'
      ></path>
    </g>
  </g>
  <g
    id='SvgjsG2166'
    feature-key='VGK2BT-0'
    transform='matrix(3.251451324204135,0,0,3.251451324204135,94.58775532887219,-23.36405567043157)'
    fill='currentColor'
  >
    <path d='M8.7797 11.6102 l-1.4575 -0.00016552 c-0.15254 0 -0.20339 0.084746 -0.27119 0.25441 l-2.3051 5.0846 l-2.322 -5.0846 c-0.067797 -0.16966 -0.11864 -0.25441 -0.27119 -0.25441 l-1.5254 0 c-0.15254 0 -0.23712 0.084746 -0.16933 0.25441 l3.9153 8.0168 c0.050847 0.11864 0.18644 0.20339 0.28814 0.20339 l0.16949 0 c0.10169 0 0.23712 -0.084746 0.28797 -0.20339 l3.8814 -8.0168 c0.08458 -0.15254 -0.067963 -0.25424 -0.22051 -0.25424 z M16.898298305084744 16.4915 c0.61 0 1.0336 -0.30508 1.0336 -1.0169 c0 -2.0847 -1.6102 -3.9831 -4.0847 -3.9831 c-2.3559 0 -4.2034 1.8644 -4.2034 4.3051 c0 2.5422 1.9322 4.288 4.3051 4.288 c1.5085 0 2.6949 -0.61017 3.4237 -1.5932 c0.10186 -0.13559 0.067963 -0.23729 -0.033568 -0.37288 l-0.32203 -0.42373 c-0.13559 -0.16933 -0.27119 -0.15254 -0.44085 -0.050847 c-0.5422 0.44068 -1.4405 0.81373 -2.4236 0.81373 c-1.3898 0 -2.3729 -0.84746 -2.5593 -1.9661 l5.3051 0 z M11.593098305084746 15.050799999999999 c0.067797 -0.81356 0.83051 -1.8644 2.2203 -1.8644 c1.4068 0 2.1356 1.0678 2.1864 1.8644 l-4.4068 0 z M27.593077966101696 19.64424 c0.033898 0.18644 -0.016784 0.35576 -0.16916 0.35576 l-1.1017 0 c-0.44068 0 -0.66102 -0.28797 -0.66102 -0.6778 l0 -4.4068 c0 -1.1186 -0.77966 -1.7627 -1.8983 -1.7627 c-0.9661 0 -1.7797 0.45763 -2.4575 1.1186 l0 5.4578 c0 0.15238 -0.11864 0.27102 -0.27119 0.27102 l-1.3222 0 c-0.15238 0 -0.25407 -0.11864 -0.25407 -0.27102 l0 -7.8476 c0 -0.15238 0.10169 -0.27119 0.25407 -0.27119 l0.91525 0 c0.40678 0 0.66102 0.42373 0.67797 0.72881 l0 0.16949 c0.66102 -0.50864 1.5422 -1.0171 2.6947 -1.0171 c1.7458 0 3.4915 1.1019 3.4915 3.2205 l0 3.7627 c0.016784 0.47458 0.050681 0.83051 0.10153 1.1695 z M34.93223220338983 20.20339 c1.8981 0.23729 3.3225 0.71186 3.2547 2.5932 c-0.050847 1.9831 -1.8983 3.2034 -4.8475 3.2034 c-2.339 0 -4 -0.98305 -3.9661 -2.7966 c0.016949 -1 0.64407 -1.6949 1.8305 -1.9322 c-1.1017 -0.18644 -2.2542 -0.83051 -2.2881 -1.9151 c-0.033898 -0.98305 0.76271 -1.678 2.0847 -1.4914 c-0.59322 -0.30525 -1.322 -1.3222 -1.339 -2.4578 c-0.050847 -2.2034 1.6271 -3.8812 3.7797 -3.8812 c1.339 0 1.7288 0.28797 3.8644 0.22017 c0.15254 0 0.27119 0.084746 0.27119 0.25407 l-0.067797 0.86475 c-0.16949 0.15238 -0.69492 0.16933 -1.0678 0.20322 c0.76271 0.69492 0.91525 1.5424 0.91525 2.3559 c0 2.2203 -1.7292 3.678 -3.7631 3.6102 c-0.81356 -0.033898 -1.3898 -0.25407 -1.7629 -0.38966 c-0.6778 -0.16949 -1.1356 0.033898 -1.1186 0.45763 c0.033898 0.42373 0.61017 0.6439 1.5254 0.76271 c1.1525 0.15221 2.0169 0.2539 2.6949 0.33864 z M33.52613220338983 13.2712 c-1.1525 0 -2.0678 0.88136 -2.0678 2.0508 c0 1.0508 0.9322 1.9661 2.0508 1.9661 c1.2542 0.016949 2.0339 -0.86441 2.0507 -1.9661 c-0.016784 -1.1695 -0.89814 -2.0508 -2.0337 -2.0508 z M33.52613220338983 24.3049 c1.4237 0 2.661 -0.45746 2.6949 -1.4236 c0.016949 -0.52542 -0.35593 -0.81356 -1.2373 -0.98305 c-0.64407 -0.11881 -1.4915 -0.23746 -2.4068 -0.33915 c-0.66102 -0.084746 -1.339 0.45763 -1.3559 1.2881 c-0.033898 1.1017 1 1.4576 2.3051 1.4576 z M46.37287457627119 16.4915 c0.61 0 1.0336 -0.30508 1.0336 -1.0169 c0 -2.0847 -1.6102 -3.9831 -4.0847 -3.9831 c-2.3559 0 -4.2034 1.8644 -4.2034 4.3051 c0 2.5422 1.9322 4.288 4.3051 4.288 c1.5085 0 2.6949 -0.61017 3.4237 -1.5932 c0.10186 -0.13559 0.067963 -0.23729 -0.033568 -0.37288 l-0.32203 -0.42373 c-0.13559 -0.16933 -0.27119 -0.15254 -0.44085 -0.050847 c-0.5422 0.44068 -1.4405 0.81373 -2.4236 0.81373 c-1.3898 0 -2.3729 -0.84746 -2.5593 -1.9661 l5.3051 0 z M41.06767457627119 15.050799999999999 c0.067797 -0.81356 0.83051 -1.8644 2.2203 -1.8644 c1.4068 0 2.1356 1.0678 2.1864 1.8644 l-4.4068 0 z M54.982898305084746 12.034099999999999 c0.18644 0.11864 0.23729 0.22017 0.11848 0.40661 l-0.69475 1.0169 c-0.084746 0.11864 -0.20339 0.15254 -0.35593 0.11864 c-0.35593 -0.16949 -0.66102 -0.32203 -1.2203 -0.32203 s-1.4407 0.23729 -1.9153 1.2881 l0 5.1866 c0 0.15238 -0.10169 0.27102 -0.25424 0.27102 l-1.339 0 c-0.15254 0 -0.25424 -0.11864 -0.25424 -0.27102 l0 -7.8476 c0 -0.15238 0.11864 -0.27119 0.25424 -0.27119 l0.9322 0 c0.40678 0 0.66102 0.42373 0.66102 0.72881 l0 0.11881 c0.59322 -0.54237 1.3051 -0.91525 2.2373 -0.91525 c0.86441 0 1.5085 0.27119 1.8305 0.49153 z M57.508523728813564 20.10153 c-0.66102 0 -1.2203 -0.55915 -1.2203 -1.2202 s0.55932 -1.2373 1.2203 -1.2373 c0.67797 0 1.2202 0.57627 1.2202 1.2373 s-0.5422 1.2202 -1.2202 1.2202 z M74.91552542372881 19.64424 c0.050847 0.18644 -0.016784 0.3561 -0.16916 0.3561 l-1.1017 0 c-0.42373 0 -0.66102 -0.28797 -0.66102 -0.6778 l0 -4.4237 c0 -1.1017 -0.77966 -1.7458 -1.8983 -1.7458 c-0.9661 0 -1.7797 0.55932 -2.4746 1.2542 c0.016784 0.10169 0.016784 0.20339 0.016784 0.3222 l0 3.7456 c0.016949 0.47458 0.050847 0.83051 0.10169 1.1695 c0.033898 0.18644 -0.016949 0.35576 -0.16949 0.35576 l-1.1017 0 c-0.44068 0 -0.66102 -0.28797 -0.66102 -0.6778 l0 -4.4237 c0 -1.1017 -0.77966 -1.7458 -1.8985 -1.7458 c-0.96593 0 -1.7795 0.54237 -2.4575 1.2373 l0 5.339 c0 0.15238 -0.11864 0.27102 -0.27119 0.27102 l-1.322 0 c-0.15254 0 -0.25424 -0.11864 -0.25424 -0.27102 l0 -7.8476 c0 -0.15238 0.10169 -0.27119 0.25424 -0.27119 l0.91525 0 c0.40678 0 0.66102 0.42373 0.67797 0.72881 l0 0.16949 c0.66102 -0.50864 1.5424 -1 2.6949 -1 c1.1695 0 2.339 0.49136 2.9831 1.4405 c0.67797 -0.62712 1.7288 -1.4407 3.2203 -1.4407 c1.7458 0 3.4914 1.1017 3.4914 3.2205 l0 3.7456 c0 0.47458 0.050847 0.83051 0.084746 1.1695 z M83.64406101694915 16.4915 c0.61 0 1.0336 -0.30508 1.0336 -1.0169 c0 -2.0847 -1.6102 -3.9831 -4.0847 -3.9831 c-2.3559 0 -4.2034 1.8644 -4.2034 4.3051 c0 2.5422 1.9322 4.288 4.3051 4.288 c1.5085 0 2.6949 -0.61017 3.4237 -1.5932 c0.10186 -0.13559 0.067963 -0.23729 -0.033568 -0.37288 l-0.32203 -0.42373 c-0.13559 -0.16933 -0.27119 -0.15254 -0.44085 -0.050847 c-0.5422 0.44068 -1.4405 0.81373 -2.4236 0.81373 c-1.3898 0 -2.3729 -0.84746 -2.5593 -1.9661 l5.3051 0 z M78.33886101694915 15.050799999999999 c0.067797 -0.81356 0.83051 -1.8644 2.2203 -1.8644 c1.4068 0 2.1356 1.0678 2.1864 1.8644 l-4.4068 0 z'></path>
  </g>
</svg>
</span>
