---
import { getCollection } from 'astro:content';
import { PageIntro } from '~/components/react/Tailwind/PageIntro';
import { Testimonial } from '~/components/react/Tailwind/Testimonial';
import { Clients } from '~/components/react/Tailwind/Clients';
import { CaseStudies } from '~/components/react/Tailwind/CaseStudies';
import { ContactSection } from '~/components/react/Contact/ContactSection';
import Layout from '~/layouts/CaseLayout.astro';
import pyrashyutImage from '~/assets/images/logos/pyrashyut.png';
import Contact from '../contact.astro';

const loadCaseStudies = await getCollection('cases');

const metadata = {
  title: 'venger.me - All Case Studies',
  description: 'Check out my projects. See how I solved different problems and helped companies grow online.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <PageIntro client:load eyebrow="My work" title="Proven solutions for real-world problems.">
    <p>Check out my projects. See how I solved different problems and helped companies grow online.</p>
  </PageIntro>

  <CaseStudies client:load caseStudies={loadCaseStudies} />

  <Testimonial
    client:load
    className="mt-24 sm:mt-32 lg:mt-40"
    client={{ name: 'Mail Smirk', logo: pyrashyutImage.src }}
  >
    Eugene was a <em>HUGE</em> asset to the team. Always responsive, professional and creative. He will be missed!
    Highly recommended and would hope to work together again in the future.
  </Testimonial>
  <Clients client:load />

  <ContactSection client:load />

  <!-- <ContactSection /> -->
</Layout>
