---
import { getCollection } from 'astro:content';
import { PageIntro } from '~/components/react/Tailwind/PageIntro';
import { Testimonial } from '~/components/react/Tailwind/Testimonial';
import { Clients } from '~/components/react/Tailwind/Clients';
import { CaseStudies } from '~/components/react/Tailwind/CaseStudies';
import Layout from '~/layouts/CaseLayout.astro';
import amazeowlImage from '~/assets/images/logos/amazeowl.png';
import impactersGroupImage from '~/assets/images/logos/impacters-group.webp';
import interwebsLogo from '~/assets/images/logos/interwebs.png';
import masterfulImage from '~/assets/images/logos/masterful.png';
import jvgtechnologyImage from '~/assets/images/logos/jvgtechnology.png';
import pyrashyutImage from '~/assets/images/logos/pyrashyut.png';
import blossomecomImage from '~/assets/images/logos/blossomecom.png';
import bluelamaImage from '~/assets/images/logos/bluelama.png';

const clients = [
  ['Pyrashyut', pyrashyutImage.src],
  ['Westernsattel', jvgtechnologyImage.src],
  ['Impacters Group', impactersGroupImage.src],
  ['Masterful', masterfulImage.src],
  ['Interwebs', interwebsLogo.src],
  ['Iberosattel', blossomecomImage.src],
  ['Blue Lama', bluelamaImage.src],
  ['Amazeowl', amazeowlImage.src],
];

const loadCaseStudies = await getCollection('cases');

const metadata = {
  title: 'venger.me - All Case Studies',
  description: 'Check out my projects. See how I solved different problems and helped companies grow online.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <PageIntro client:load eyebrow="My work" title="Proven solutions for real-world problems.">
    <p>Check out my projects. See how I solved different problems and helped companies grow online.</p>
  </PageIntro>

  <CaseStudies client:load caseStudies={loadCaseStudies} />

  <Testimonial
    client:load
    className="mt-24 sm:mt-32 lg:mt-40"
    client={{ name: 'Mail Smirk', logo: pyrashyutImage.src }}
  >
    Eugene was a <em>HUGE</em> asset to the team. Always responsive, professional and creative. He will be missed!
    Highly recommended and would hope to work together again in the future.
  </Testimonial>

  <Clients client:load clients={clients} />

  <!-- <ContactSection /> -->
</Layout>
