---
import { getCollection } from 'astro:content';
import { PageIntro } from '~/components/react/Tailwind/PageIntro';
import { Testimonial } from '~/components/react/Tailwind/Testimonial';
import { Clients } from '~/components/react/Tailwind/Clients';
import { CaseStudies } from '~/components/react/Tailwind/CaseStudies';
import Layout from '~/layouts/CaseLayout.astro';
import amazeowlImage from '~/assets/images/logos/amazeowl.png';
import impactersGroupImage from '~/assets/images/logos/impacters-group.webp';
import interwebsLogo from '~/assets/images/logos/interwebs.png';
import masterfulImage from '~/assets/images/logos/masterful.png';
import jvgtechnologyImage from '~/assets/images/logos/jvgtechnology.png';
import pyrashyutImage from '~/assets/images/logos/pyrashyut.png';
import blossomecomImage from '~/assets/images/logos/blossomecom.png';
import bluelamaImage from '~/assets/images/logos/bluelama.png';

const clients = [
  ['Pyrashyut', pyrashyutImage.src],
  ['Westernsattel', jvgtechnologyImage.src],
  ['Impacters Group', impactersGroupImage.src],
  ['Masterful', masterfulImage.src],
  ['Interwebs', interwebsLogo.src],
  ['Iberosattel', blossomecomImage.src],
  ['Blue Lama', bluelamaImage.src],
  ['Amazeowl', amazeowlImage.src],
];

const caseStudies = await getCollection('cases');
---

<Layout>
  <PageIntro client:load eyebrow="Our work" title="Proven solutions for real-world problems.">
    <p>
      We believe in efficiency and maximizing our resources to provide the best value to our clients. The primary way we
      do that is by re-using the same five projects we’ve been developing for the past decade.
    </p>
  </PageIntro>

  <CaseStudies client:load caseStudies={caseStudies} />

  <Testimonial
    client:load
    className="mt-24 sm:mt-32 lg:mt-40"
    client={{ name: 'Mail Smirk', logo: 'https://studio.tailwindui.com/_next/static/media/logo-dark.353d4760.svg' }}
  >
    We approached <em>Studio</em> because we loved their past work. They delivered something remarkably similar in
    record time.
  </Testimonial>

  <Clients client:load clients={clients} />

  <!-- <ContactSection /> -->
</Layout>
