---
import { getCollection } from 'astro:content';
import { PageIntro } from '~/components/react/Tailwind/PageIntro';
import { Testimonial } from '~/components/react/Tailwind/Testimonial';
import { Clients } from '~/components/react/Tailwind/Clients';
import { CaseStudies } from '~/components/react/Tailwind/CaseStudies';
import Layout from '~/layouts/CaseLayout.astro';

const clients = [
  ['Phobia', 'https://studio.tailwindui.com/_next/static/media/logo-dark.353d4760.svg'],
  ['Family Fund', 'https://studio.tailwindui.com/_next/static/media/logo-dark.353d4760.svg'],
  ['Unseal', 'https://studio.tailwindui.com/_next/static/media/logo-dark.353d4760.svg'],
  ['Mail Smirk', 'https://studio.tailwindui.com/_next/static/media/logo-dark.353d4760.svg'],
  ['Home Work', 'https://studio.tailwindui.com/_next/static/media/logo-dark.353d4760.svg'],
  ['Green Life', 'https://studio.tailwindui.com/_next/static/media/logo-dark.353d4760.svg'],
  ['Bright Path', 'https://studio.tailwindui.com/_next/static/media/logo-dark.353d4760.svg'],
  ['North Adventures', 'https://studio.tailwindui.com/_next/static/media/logo-dark.353d4760.svg'],
];

const caseStudies = await getCollection('cases');
---

<Layout>
  <PageIntro client:load eyebrow="Our work" title="Proven solutions for real-world problems.">
    <p>
      We believe in efficiency and maximizing our resources to provide the best value to our clients. The primary way we
      do that is by re-using the same five projects we’ve been developing for the past decade.
    </p>
  </PageIntro>

  <CaseStudies client:load caseStudies={caseStudies} />

  <Testimonial
    client:load
    className="mt-24 sm:mt-32 lg:mt-40"
    client={{ name: 'Mail Smirk', logo: 'https://studio.tailwindui.com/_next/static/media/logo-dark.353d4760.svg' }}
  >
    We approached <em>Studio</em> because we loved their past work. They delivered something remarkably similar in
    record time.
  </Testimonial>

  <Clients client:load clients={clients} />

  <!-- <ContactSection /> -->
</Layout>
